# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\go_advanced_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
